#form {
    margin-top: 30px;
    width: 30%;
} 

body {
    margin: 0;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: lightgray; 
}

.ng-invalid.ng-touched:not(form){
    border-left: 5px solid red;
}

#input{
    width: 100%;
}

/* form to odniesienie do elementu wskazanego poprzez id = form, body to część składni i jest w nim ujęte wszystko co w html
    .ng-invalid.ng-touched:not(form)  to metoda wywołana w css która sprawdza brak poprawności inputu i jeśli taka istneije a ten został naruszony to nadaje mu określony styl
*/