<div>
  <h2 id = "title">Requests</h2>
  <table class="table table-striped table-bordered">
      <!-- nagłówki -->
    <thead>
          <tr class="bg-info text-white">
              <th>Name</th>
              <th>Currency</th>
              <th>Request Date</th>
              <th>Value</th>
              <th>Action</th>
          </tr>
      </thead>
      <!-- rekordy -->
      <tbody>
          <tr *ngFor="let request of requests; let i = index">
              <td>{{ request.name }}</td>
              <td>{{ request.currency }}</td>
              <td>{{ request.requestDate | date:'short' }}</td>
              <td>{{ request.wartosc }}</td>
              <td id = "actions"><button class="btn btn-danger" (click)="deleteRequest(i)">Delete</button><button class="btn btn-warning mx-3" (click)="openModal(i)">Edit</button></td>
          </tr>
      </tbody>
  </table>
  <app-modal [isOpen]="isOpen"></app-modal>
</div>

  